/* font-family: 'Poppins', sans-serif; */
body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,p,input{
    margin: 0;
    padding: 0;
}
.IntroComp--Section{
    min-height: 100vh;
    background-image: url(/public/bg-intro-desktop.png);
    background-color: hsla(0, 100%, 74%, 0.911) ;
}

.Intro--Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    min-height: 100vh;
    padding : 0px 150px 0px;
}
.Intro--Contents--Container{
    width: 100%;
    height: 100%;
    animation: 1.5s toTop ease forwards;
}
.Intro--Contents--Container > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
.Intro--Contents--Container > p {
    color: hsla(0, 0%, 100%, 0.649);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-block: 1.5rem;
}
.Intro--Form--Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.hide{
    display: none;
}
.Trial--Contents--Cont{
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    margin-top: 10px;
    padding: 20px 50px;
    border-radius: 10px;
    margin-bottom: 25px;
    animation: 1s toBottom ease forwards;
    box-shadow: 0px 7px 0px 0px #00000036;
}
.Trial--Contents--Cont > span:nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
.Trial--Contents--Cont > span:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: hsl(0, 0%, 100%);
}
.Trial--Contents--Cont > span > .price{
    font-family: 'Poppins', sans-serif;
    color: hsl(154, 59%, 51%);
    font-weight: 700;
}
.Form--Container{
    background-color: white;
    height: 100%;
    border-radius: 10px;
    padding: 35px 25px 0px 25px;
    animation: 1.5s toBottom ease forwards;
}
.Form--Container > form  > .err-1 {
    position: absolute;
    right: 8%;
    top: 17%;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-style: italic;
    color: red;
}
.Form--Container > form > .err-2 {
    position: absolute;
    right: 8%;
    top: 32%;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-style: italic;
    color: red;
    
}
.Form--Container > form > .err-3 {
    position: absolute;
    right: 8%;
    top: 47%;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-style: italic;
    color: red;
}
.Form--Container > form > .err-4 {
    position: absolute;
    right: 8%;
    top: 62%;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-style: italic;
    color: red;
}
.Form--Container > form > .err-5 {
    position: absolute;
    right: 8%;
    top: 77%;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-style: italic;
    color: red;
}

.Form--Container > form > input {
    display: block;
    width: 100%;
    padding: 13px 0px 13px 0px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid hsl(249, 10%, 26%) ;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: text;
    position: relative;
    text-indent: 10px;
}
.Form--Container > form > .err-img-1 {
    position: absolute;
    z-index: 1;
    top: 45px;
    right: 40px;
}
.Form--Container > form > .err-img-2 {
    position: absolute;
    z-index: 1;
    top: 125px;
    right: 40px;
}
.Form--Container > form > .err-img-3 {
    position: absolute;
    z-index: 1;
    top: 205px;
    right: 40px;
}
.Form--Container > form > .err-img-4 {
    position: absolute;
    z-index: 1;
    top: 285px;
    right: 40px;
}
.Form--Container > form > .err-img-5 {
    position: absolute;
    z-index: 1;
    top: 365px;
    right: 40px;
}
.Form--Container > form > .redborder{
    
    border: 2px solid red;
}

.Form--Container > form > button {
    width: 100%;
    margin-top: 10px;
    padding: 15px 0px 15px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 3px 0px 0px hsl(154, 100%, 30%); 
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.Form--Container > form > button:hover{
    background-color: hsl(154, 80%, 60%);
}
.Form--Container > form > button:active{
    box-shadow: 0px 0px 0px 0px hsl(154, 100%, 30%); 
}
.Form--Container > form > p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    padding-block: 12px;
    color: hsl(246, 25%, 77%) ;
}
.Form--Container > form > p > span {
    font-weight: 600;
    color: hsl(0, 100%, 74%) ;
}
::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 10px;
}

@keyframes toTop {

    0%{
        opacity: 0;
        transform: translateX(-30%);
    }
    100%{
        opacity: 1;
        transform: translateX(-0%);
    }
}
@keyframes toBottom {

    0%{
        opacity: 0;
        transform: translateX(30%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
@media (max-width:1000px) {
    
    .Intro--Wrapper{
        flex-direction: column;
        gap: 0px;
        text-align: center;
        
    }
    .Intro--Form--Container{margin-bottom: 20px;}
    .Intro--Contents--Container{margin-top: 20px;}
}
@media (max-width:600px) {
    .Form--Container > form > .err-1 {
        position: absolute;
        right: 8%;
        top: 17%;
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-style: italic;
        color: red;
    }
    .Form--Container > form > .err-2 {
        position: absolute;
        right: 8%;
        top: 32%;
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-style: italic;
        color: red;
        
    }
    .Form--Container > form > .err-3 {top: 46%}
    .Form--Container > form > .err-4 {top: 60%;}
    .Form--Container > form > .err-5 {top: 75%;}
    
    .Intro--Wrapper{
        flex-direction: column;
        gap: 0px;
        text-align: center;
        padding : 65px 40px 0px;
    }
    .Intro--Form--Container{margin-bottom: 20px; width: 100%;}
    .Intro--Contents--Container{margin-top: 20px;}
    .Intro--Contents--Container > h1 {
        font-size: 25px;
        line-height: 35px;
    }
    .Intro--Contents--Container > p {
       margin-bottom: 50px;
       font-size: 16px;
    }
    .Trial--Contents--Cont{
         padding: 12px 50px;
         line-height: 25px;
    }
}
@media (max-width:376px) {
    
    .Intro--Wrapper{
        padding : 65px 30px 0px;
    }
  
}